/*         
        Table of contents

01. =fonts
02. =variables
03.= override variables for
04. = base
05. = container
06. = row
07.= section
08. = buttons
09. = forms
10. = fancy border-radius box
11. = theme light dark switcher
12. = animation keyframes
13. preloader
14. = header
15. home section
16. about section
17. = services section
18. fun fact section.
19. = pricing section
20.= contact section
21. = footer
22. =responsive


-------------------------------------------------/ */

/*--------------
 01. = fonts 
 --------------*/
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');



/* ---------------
02. = variables 
-----------------*/
:root{
    --main-color: hsl(257,68%,73%);
    --light-red: hsl(0,67%,71%);
    --light-yellow: hsl(42,73%,74%);
    --black-90-: hsl(0,0%,10%);
    --black-70: hsl(0,0%,30%); 
    --white: hsl(0,0%,100%);
    --white-alpha-40: hsla(0,0%,100%,0.4);
    --white-alpha-50: hsla(0,0%,100%,0.5);
    --body-bg-color: hsl(42,71%,87%);
    --border-color-1: hsl(42, 45%, 73%);
    --border-color-2: hsla(44, 45%,73%,0.4);
    --shadow-color:hsl(42,45%,73%);

}



/* 03. = override variables for dark theme */


/* 04. = base */
html{
    scroll-behavior:smooth;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::after,
::before{
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 16px;
    background-color: var(--body-bg-color);
    color: var(--black-70);
    overflow-x: hidden;
    line-height: 1.5;
    -webkit-tap-highlight-color: transparent;
}
h1,h2,h3,h4,h5,h6{
    line-height: 1.2;
    color: var(--black-90-);
}
h3{
    font-size: 20px;
    font-weight: 450;
}
a{
    text-decoration: none;
    color: var(--main-color);
}
img{
    max-width: 100%;
    vertical-align: middle;
    height: 600px;
    width: 400px;
}
ul{
    list-style: none;
}
::selection{
    color: var(--white);
    background-color: var(--light-red);
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color: var(--body-bg-color);
}
::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}
/* 05. = container */
.container{
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
}
/* 06. = row */
.row{
    --cols:12;
    display: grid;
    grid-template-columns: repeat(var(--cols),minmax(0,1fr));
    grid-gap: 30px;
}



/* 07.= section */
.section-padding{
    padding: 60px 0;
}
.section-title{
    text-align: center;
    margin-bottom: 40px;
}
.section-title .title{
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--main-color);
    margin: 0 0 9px;
}
.section-title .sub-title{
    font-size: 40px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--black-90-);
    line-height: 1.2;
}
/* 08. = buttons */
button{
    cursor: pointer;
}
.btn{
    display: inline-block;
    padding: 10px 28px;
    background-color: var(--main-color);
    color: var(--white);
    border-radius: 30px;
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    line-height: 1.5;
    font-family: inherit;
    border: none;
    vertical-align: middle;
    user-select: none;
    position: relative;
    overflow: hidden;
}
.btn::before,
.btn::after{
   content: ' ';
   position: absolute;
   background-color: var(--white-alpha-50); 
}
.btn::before{
    height: 7px;
    width: 7px;
    Left: -10px;
    top: 17px;
    transition: left 0.2s ease;
}
.btn::after{
    height: 7px;
    width: 7px;
    right: -10px;
    bottom: 17px;
    transition: right 0.2s ease;
}
.btn:hover::before{
    left: 12px;
}
.btn:hover::after{
    right: 12px;
}
.btn:hover::before,
.btn:hover::after{
    animation: spin 2s linear infinite;
}

/* 09. = forms */
.input-box{
    margin-bottom: 20px;
}
.input-control::placeholder{
    color: var(--black-70);
}
.input-control{
    display: block;
    width: 100%;
    height: 42px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--border-color-1);
    font-size: 16px;
    font-family: inherit;
    color: var(--black-90-);
}
.input-control:focus{
    outline: none;
}
textarea.input-control{
    height: 120px;
    resize: none;
}
/* 10. = fancy border-radius box */
.fancy-br-box{
    height: 600px;
    width: 400px;
    margin: auto;
    position: relative;
    z-index: 1;
}
.fancy-br-box::before{
    content: ' ';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border: 2px solid transparent;
    border-radius: 30% 50% / 50% 30%;
     z-index: -1;
     
}
.fancy-br-box > img{
    border-radius: 40% 70% 40% / 50% ;
    /* border: 10px solid #F7BB97 */
}


/* 11. = theme light dark switcher */


/*12. = animation keyframes */
@keyframes moveX{
    0%,100%{
        transform: translate(0);
    }
    50%{
        transform: translate(20px);
    }
}
@keyframes spin{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}

@keyframes zoomInOut {
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}

/* 13. preloader */
.preloader{
    position: fixed;
    Left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--main-color);
    z-index: 10;
    display: flex;
    transition: opacity 0.6s ease;
}
.preloader .fade-out{
    opacity: 0;
}
.preloader img{
    width: 50px;
    height: 50px;
    margin: auto;
    animation: zoomInOut 1s linear infinite;
}
/* 14. = header */
.header{
    position: fixed;
    Left: 0;
    top: 0;
    width: 100%;
    z-index: 2;
    padding: 8px 0;
}
.header-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.logo a{
    font-size: 28px;
    text-transform: capitalize;
    font-weight: 600;
    color: var(--black-90-);
}
.logo img{
    width: 30px;
    height: 30px;
    margin-right: 7px;
}
.nav-toggler{
    height: 34px;
    width: 40px;
    border: none;
    background-color: transparent;
}
.nav-toggler span{
    display: block;
    height: 2px;
    width:24px;
    background-color: var(--black-90-);
    margin: auto;
    position: relative;
    transition: background-color 0.3s ease;
}
.nav-toggler.active span{
    background-color: transparent;
}
.nav-toggler span::before,
.nav-toggler span::after{
    content: '';
    position: absolute;
    Left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--black-90-);
    transition: top 0.2s ease 0.2, transform 0.2s ease;
}
.nav-toggler span::before{
    top: -7px;
}
.nav-toggler span::after{
    top: 7px;
}
.nav-toggler.active span::before,
.nav-toggler.active span::after{
    top: 0;
    transition-delay: 0s, 0.2s;
}
.nav-toggler.active span::before{
    transform: rotate(45deg);
}
.nav-toggler.active span::after{
    transform: rotate(-45deg);
}

.nav{
    position: absolute;
    right:0;
    top: 100%;
    margin-top: 8px;
    visibility: hidden;
    transition: visibility 0s ease 0.5s;
}
.nav.active{
    visibility: visible;
    transition-delay: 0s;
}
.nav li{
    background-color: var(--white-alpha-40);
    text-align: center;
    transform: translateY(20px);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transition-delay: calc(0.05s * var(--item));
}
.nav.active li{
opacity: 1;
transform: translateY(0);
}
.nav li:first-child{
    border-radius: 10px 10px 0 0;
}
.nav li:last-child{
    border-radius: 0 0 10px 10px;
}
.nav a{
    display: block;
    padding: 8px 30px;
    font-weight: 500;
    color: var(--black-90);
    text-transform: capitalize;
    position: relative;
}
.nav a::before{
    content: '';
    height: 2px;
    width: 0;
    position: absolute;
    Left: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--main-color);
    transition: width 0.3s ease;
}
.nav a:hover::before{
    width: 12px;
}
/* 15. home section */
.home{
    padding: 180px 0 80px;
    position: relative;
    z-index: 1;
    overflow: hidden;

}
.home::before{
    content: ' ';
    position: absolute;
    left: -400px;
    top: -150px;
    height: 200px;
    width: 600px;
    transform: translate(-50% );
    background-color: var(--main-color);
    border-radius: 20% 80% 20% / 50%;
    transform: rotate(25deg);
    z-index: -1;
}
.home-img,
.home-text{
    grid-column: span 6;
    align-self: center;
}
.home-text p{
    margin: 0 0 30px;
}
.home-text h1{
    font-size: 50px;
    text-transform: capitalize;
    margin: 0 0 25px;
}
.home-img .fancy-br-box::before{
    border-color: var(--light-red);
}
.home-img .icon-box img{
    width: 90px;
    height: 90px;
    transform: scaleX(-1);
}
.home-img .icon-box{
    
    position: absolute;
    left: -30px;
    bottom: -30px;
    animation: moveX 4s linear infinite;

}


/* 16. about section */
.about-text,
.about-img{
    grid-column: span 6;
     
}
.about-img .fancy-br-box::before{
    border-color: var(--light-yellow);
}
.about-img .icon-box{
    position: absolute;
    left: 30px;
    bottom: -60px;
    animation: moveX 4s linear infinite;
}
.about-img .icon-box img{
    width: 90px;
    height: 90px;
}
.about-text h3{
    margin: 15px 0;
}
.about-text ul li{
    margin-bottom: 6px;
    position: relative;
    padding-left: 30px;
}
.about-text ul i{
    color: var(--main-color);
    position: absolute;
    left: 0;
    top: 5px;
}

/* 17. = services section */
.services-item{
    grid-column: span 6;
    background-color: var(--white-alpha-40);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    box-shadow: 0 0 10px var(--shadow-color);
}
.services-item .img-box{
    width: 120px;
    flex-shrink: 0;
    border-radius: 20px;
    border: 1px solid var(--border-color-1);
    padding: 8px;
}
.services-item .img-box img{
    border-radius: 20px;
    height: 100px;
    width: 100px;
}
.services-item .text{
    padding-left: 30px;
}
.services-item h3{
    text-transform: capitalize;
    margin: 0 0 15px;

}
/* 18. fun fact section. */
.fun-fact{
   padding: 40px 0;
    
}
.fun-fact-item{
    grid-column: span 3;
    margin: 40px 0;
    text-align: center;
}
.fun-fact-item .box{
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 1;
    margin: auto;
}
.fun-fact-item .box::before,
.fun-fact-item .box::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 20%;
}
.fun-fact-item .box::before{
    transform: rotate(22deg);
    opacity: 0.3;
    z-index: -2;
}
.fun-fact-item .box::after{
    transform: rotate(45deg);
    opacity: 0.5;
    z-index: -1;
}
.fun-fact-item:nth-child(1) .box::after,
.fun-fact-item:nth-child(1) .box::before{
    background-color: var(--main-color);
}
.fun-fact-item:nth-child(2) .box::after,
.fun-fact-item:nth-child(2) .box::before{
    background-color: var(--light-yellow);
}
.fun-fact-item:nth-child(3) .box::after,
.fun-fact-item:nth-child(3) .box::before{
    background-color: var(--main-color);
}
.fun-fact-item:nth-child(4) .box::after,
.fun-fact-item:nth-child(4) .box::before{
    background-color: var(--light-red);
}
.fun-fact-item h2{
    font-size: 35px;
}
.fun-fact-item p{
    text-transform: capitalize;
}

/* 19. = pricing section */
.pricing-item{
    grid-column: span 4;
    background-color: var(--white-alpha-40);
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px var(--shadow-color);
}
.pricing-header h3{
    font-size: 24px;
    text-transform: capitalize;
    position: relative;
    overflow: hidden;
}
.pricing-header h3::before{
    content: attr(data-text);
    position: absolute;
    left: 0;
    bottom: 100%;
}
.pricing-1 .pricing-body .fa-check-circle,
.pricing-1 .pricing-header .price,
.pricing-1 .pricing-header h3::before{
    color: var(--light-red);
}
.pricing-2 .pricing-body .fa-check-circle,
.pricing-2 .pricing-header .price,
.pricing-2 .pricing-header h3::before{
    color: var(--main-color);
}
.pricing-3 .pricing-body .fa-check-circle,
.pricing-3 .pricing-header .price,
.pricing-3 .pricing-header h3::before{
    color: var(--light-yellow);
}
.pricing-header h3 span{
    display: block;
    transition: transform 0.5s ease;
}
.pricing-item:hover .pricing-header h3 span,
.pricing-item:hover .pricing-header h3::before{
    transform: translateY(100%);
}
.pricing-header .price{
    font-size: 35px;
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-top: 10px;
    border-bottom: 1px solid var(--border-color-1);
    padding-bottom: 5px;
}
.pricing-header .price span{
    font-size: 16px;
    margin-left: 10px;
    font-weight: 300;
}
.pricing-body{
    padding:15px 0 20px;
}
.pricing-body li{
    margin-bottom: 6px;
    position: relative;
    padding-left: 25px;
}
.pricing-body i{
    position: absolute;
    left: 0;
    top: 5px;
}
.pricing-footer{
    border-top: 1px solid var(--border-color-1);
    padding-top: 20px;
}
.pricing-1 .pricing-footer .btn{
    background-color: var(--light-red);
}
.pricing-2 .pricing-footer .btn{
    background-color: var(--main-color);
}
.pricing-3 .pricing-footer .btn{
    background-color: var(--light-yellow);
}
/* 20.= contact section */
.contact{
    overflow: hidden;
}
.contact-details,
.contact-form{
    grid-column: span 6;
    position: relative;
}
.contact .section-title{
    text-align: left;
    margin-bottom: 15px;
}
.contact-details .text-1{
    margin-bottom: 40px;
}
.contact-info-item{
    position: relative;
    margin-bottom: 10px;
    padding-left: 30px;
}
.contact-info-item i{
    position: absolute;
    left: 0;
    top: 7px;
    font-size: 14px;
}
.contact-details .social-links{
    margin-top: 25px;
}
.contact-details .social-links a{
    height: 33px;
    width: 33px;
    color: var(--main-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--main-color);
    border-radius: 50%;
    margin-right: 5px;
    transition: color 0.3s ease;
    position: relative;
}
.contact-details .social-links a:hover{
    color: var(--white);
}
.contact-details .social-links a::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--main-color);
    border-radius: 50%;
    z-index: -1;
    transform: scale(0);
    transition: transform 0.3s ease;
}
.contact-details .social-links a:hover::before{
    transform: scale(1);
}
.contact-form::before,
.contact-form::after{
    content: '';
    position: absolute;
    transform: rotate(10deg);
}
.contact-form::before{
    right: -4px;
    top: 0px;
    height: 40px;
    width: 40px;
    background-color: var(--light-red);
    z-index: -1;
}
.contact-form::after{
    left: -15px;
    bottom: 0;
    height: 20px;
    width: 20px;
    background-color: var(--main-color);
}
.contact-form .icon-box img{
    height: 100px;
    width: 100px;
    animation: moveX 4s linear infinite;
}

.contact-box{
    background-color: var(--white-alpha-40);
    padding: 50px;
    border-radius: 30px;
    box-shadow: 0 0 10px var(--shadow-color);
}
/* 21. = footer */
.footer{
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.footer::after{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 200px;
    width: 200px;
    transform: translate(50%, 50%);
    background-color: var(--light-red);
    border-radius: 50%;
    z-index: -1;
}
.footer-top{
    padding: 60px 0;
    border-top: 1px solid var(--border-color-2);
}
.footer-item{
    grid-column: span 4;
}

.footer-item h3{
    text-transform: capitalize;
    margin: 0 0 15px;
}
.footer ui li{
    margin-bottom: 6px;
}
.footer ul a{
    display: inline-block;
    color: var(--black-70);
    text-transform: capitalize;
}
.footer ul a:hover{
    color: var(--main-color);
}
.footer-bottom{
    border-top: 1px solid var(--border-color-2);
    padding: 20px 0;
    text-align: center;
}
/* 22. =responsive */

@media(max-width : 1199px){
    .container{
        padding: 0 30px;
    }
}
@media(max-width : 991px){
    .fancy-br-box{
        height: 500px;
        width: 300px;
    }
    img{
        height: 500px;
        width: 300px;
    }
    .home-text h1{
        font-size: 35px;
    }
    .section-title .sub-title{
        font-size: 32px;
    }
    .services-item{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .services-item h3{
        margin-top: 20px;
    }
    .services-item .text{
        padding-left: 0;
    }
    .fun-fact-item{
        grid-column: span 6;
    }
    .pricing-item{
        grid-column: span 6;
    }
    .contact-box{
        padding: 30px;
    }
    .footer-item{
        grid-column: span 6;
    }
}
@media(max-width : 767px){
    .container{
        padding: 0 15px;
    }
    .home{
        padding: 140px 0 80px;
    }
    .home-img, .home-text{
        grid-column: span 12;
    }
    .home-img{
        order: -1;
    }
    .home-text{
        margin-top: 60px;
    }
    .section-title .sub-title{
        font-size: 26px;
    }
    .about-text, .about-img{
        grid-column: span 12;
    }
    .about-text{
        margin-top: 60px;
    }
    .pricing-item{
        grid-column: span 12;
    }
    .contact-details,
    .contact-form{
        grid-column: span 12;
    }
    .contact-form{
        margin-top: 42px;
    }

}
@media(max-width : 575px){
    .services-item{
        grid-column: span 12;
    }
    .fun-fact-item{
        grid-column: span 12;
    }
    .row{
        grid-gap: 15px;
    }
    .footer-item{
        grid-column: span 12;
    }
}


/* 23 chatbot */

.chatbot-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    background-color: var(--main-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    animation: bounce 2s infinite alternate; /* Apply bounce animation */
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px); /* Adjust the bounce height as needed */
    }
}

.chatbot-button:hover {
    animation: none; /* Disable animation on hover */
}

.chatbot-button a {
    color: white;
    text-decoration: none; /* Remove underline */
}